/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*----------------------------------------------------------------------------*/
*,*:before,*:after{
    box-sizing: border-box;
}

body {
    font-family: Bruno Ace SC, sans-serif;
    line-height: 1.5;
    font-size: 16px;
    color: #FFFFFF;
  }

img {
    vertical-align: middle;
  }

a {
    text-decoration: none;
    color: #D1D1D1;
}

.bg-1 {
    background: #000000;
}

.container {
width: 1296px;
margin: 0 auto;
}
/*----------------------------------------------------------------------------*/


.menu {
    padding-top: 40px;
}

.mbtn-1 {
    width: 306px;
}

.mbtn-2 {
    width: 196px;
    text-align: right;
}

.menu a:hover {
    color: #00FFA3;
}


/*----------------------------------------------------------------------------*/
.coverMain {
    padding-top: 72px;
    padding-bottom: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 64px;
}
.fc-1 {
    color: #00FFA3;
    font-size: 128px;
    text-align: right;
}

.coverMain-text {
    width: 636px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.btn-1 {
    text-align: center;
    color: #000000;
    background: #FFFFFF;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 32px;
}

span {
    vertical-align: top;
    color: #1C1B1F;
}
/*----------------------------------------------------------------------------*/
.intro{
    background-image:url("../images/background-img.png");
    background-size: cover;
  }


.introMain{
    display: flex;
    justify-content: space-between;
    padding-top: 160px;
    padding-bottom: 160px;
}  


.introMain-text{
    width: 526px;
    font-size: 24px;
}

.introMain-text p{
    margin-top: 36px;
}

.introMain-text img {
    margin-top: 32px;
}


.introMain-img{
    width: 746px;
}

h2 {
    font-size: 64px;
}

.introMain-img-list{
    display: flex;
    justify-content: space-between;
}

.smallspark {
    width: 128px;
    display: flex;
    justify-content: space-between;
}

/*----------------------------------------------------------------------------*/
.aboutmeMain {
    padding-top: 160px;
    padding-bottom: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutmeMain-card-list {
    width: 636px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -24px;
}

.aboutmeMain-card-list li{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.04);
    width: 306px;
    padding: 16px;
    border: 1px solid #E3E3E3;
    color: #15161D;
    margin-bottom: 24px;
}

.aboutmeMain-card-list p {
    margin-top: 4px;
}

h3 {
    font-size: 20px;
}

.aboutmeMain-text {
    width: 526px;
    color: #15161D;
    font-size: 24px;
}

.aboutmeMain-text p {
    margin-top: 36px;
}

/*----------------------------------------------------------------------------*/
.contact {
    background-image: linear-gradient(to bottom, rgba(5, 0, 20, 1), rgba(1, 2, 30, 0.89));
    padding-top: 96px;
    padding-bottom: 96px;
}

.contact-title {
    display: flex;
    align-items: center;
}

.contact span {
    font-size: 100px;
    margin-left: 16px;
}

.contact-icon {
    width: 526px;
}

.contact-icon li {
    border-radius: 40px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.hover-1:hover {
    box-shadow: 0px 0px 16px rgba(144, 148, 255, 0.9);
}

.hover-2:hover {
    box-shadow: 0px 0px 16px rgba(255, 144, 197, 0.9);
}

.hover-3:hover {
    box-shadow: 0px 0px 16px rgba(146, 255, 144, 0.9);
}


.d-flex {
    display: flex;
    justify-content: space-between;
}
/*----------------------------------------------------------------------------*/

.project {
    padding-top: 160px;
    padding-bottom: 160px;
}

.projectMain {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 16px;
}


.projectlist-text {
    display: flex;
    width: 856px;
}

.projectlist-text-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 24px;
    align-items: flex-start;
}

.projectlist-img ul {
    display: flex;
    justify-content: space-between;
}

.projectlist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-1 {
    width: 746px;
    margin-left: auto;
}

/*----------------------------------------------------------------------------*/
.footer {
    padding: 40px;
    text-align: center;
}

.dark {
    color: #FFFFFF;
}

.light {
    color: #000000;
}

.light-2 {
    color: #15161D;
}

.btn-2 {
    text-align: center;
    color: #FFFFFF;
    background: #000000;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 32px;
}



.btn-1:hover {
    background: #00FFA3;
}

.btn-2:hover {
    background: #00FFA3;
    color: #000000;
}
